html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

.pawhub {
  flex: 1;
  padding-top: 20px;
}

.bg-orange-gradient {
  background: linear-gradient(145deg, #fcd98b 0%, var(--bs-primary) 82%);
}
